In [1]:
#Assignment 2

In [2]:
#calculate the sum, difference, product ad quotient of two numbers

In [3]:
a = 250
b = 350
#sum
print(a+b)

600

In [4]:
#diff
print(b-a)

100

In [5]:
#product
print(a*b)

87500

In [6]:
#quotient
print(a//b)

0

In [7]:
#Perform various assignment operations on a Variable.

In [8]:
#1. +=
x = 200
y = 100
x+=y
print(x)

300

In [9]:
#2. -=
x = 400
y = 600
x-=y
print(x)

-200

In [11]:
#3. *=
x = 400
y = 30
x*=y
print(x)

12000

In [12]:
#4. /=
x = 20
y = 10
x/=y
print(x)

2.0

In [13]:
#5. **=
x = 11
y = 2
x**=y
print(x)

121

In [14]:
#Check conditions using logical operators.

In [15]:
a = int(input("Please fill A' point : "))
b = int(input("Please fill B' point : "))
if a>b:
    print("A is greater than B")
elif a == b:
    print("A is equal to B")
else:
    print("A is smaller than B")

Please fill A' point : 70
Please fill B' point : 10
A is greater than B

In [16]:
# Perform bitwise operations on any two integers.

In [17]:
# & Operator:

a = int(input("Insert first number : "))
b = int(input("Insert first number : "))
print("&operator = ",a&b)

Insert first number : 10
Insert first number : 23
&operator =  2

In [18]:
# Or Operator:

a = int(input("Insert first number : "))
b = int(input("Insert first number : "))
print("OR operator = ",a|b)

Insert first number : 10
Insert first number : 23
OR operator =  31

In [22]:
#Check the identity of variables.

In [23]:
x = "String"
y = 23
z = 23.1
print(id(x))
print(id(y))
print(id(z))

2450945273008
140729903257064
2451029980080

In [24]:
x = ["String","Cases",23.2]
print(id(x[2]))

2451029974320

In [25]:
#Use unary operators to change the sign of a number.

In [26]:
x = 34
y = 10
print(-x+y)

-24

In [28]:
print(-x)

-34

In [29]:
#Use the ternary operator to assign values based on conditions.

In [3]:
str1 = input("Note: Name should not be greater than 10: ")
result = "length is fine" if len(str1)<=10 else "re-enter the name"
print(result)

Note: Name should not be greater than 10: pranaykumar
re-enter the name